/* Reset af margin og padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling for Mobil*/
@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}

/* Styling for desktop*/
@media (min-width: 768px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
  p {
    font-size: 16px;
  }
}
