/* Reset af margin og padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset af standard font-weight */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* Styling for Mobil */
@media (max-width: 768px) {
  h1 {
    font-size: 28px;
    font-family: "Courier Prime", monospace;
    font-weight: bold;
  }
  h2 {
    font-size: 20px;
    font-family: "Courier Prime", monospace;
    text-decoration: none;
  }

  p,
  a,
  button,
  li {
    font-size: 14px;
    font-family: "Courier Prime", monospace;
    text-decoration: none;
  }

  .carousel-item {
    width: 150px;
  }

  .carousel-track {
    gap: 10px;
    animation: scroll 15s linear infinite;
  }

  .carousel-container {
    padding: 0 10px;
  }
}

/* Tablet (mellem 769px og 1024px) */
@media (max-width: 1024px) {
  .carousel-item {
    width: 180px;
  }

  .carousel-track {
    gap: 15px;
    animation: scroll 18s linear infinite;
  }
}

/* Styling for desktop */
@media (min-width: 768px) {
  h1 {
    font-size: 36px;
    font-family: "Courier Prime", monospace;
    font-weight: bold;
  }
  h2 {
    font-size: 28px;
    font-family: "Courier Prime", monospace;
  }
  p,
  a,
  button,
  li {
    font-size: 16px;
    font-family: "Courier Prime", monospace;
    text-decoration: none;
  }

  .carousel-item {
    width: 220px;
    height: auto;
  }

  .carousel-track {
    gap: 20px;
    animation: scroll 20s linear infinite;
  }
}
