---
import "../styles/global.css";
import MainLayout from "../layouts/MainLayout.astro";
const title = "Custom made";
---

<MainLayout>
  <div class="grid-container">
    <div class="grid-item text">
      <h1 class="costumh1">CUSTOM MADE</h1>
      <p>At Solrig Design, everything is about you and your unique style. We offer custom-made designs that are created exactly according to your wishes. Whether you dream of a lively color palette, a certain style, or a detail that makes the product really special, we can make it come true.</p>
    </div>

    <div class="grid-item_image">
      <img src="/gallery/maerke.webp" alt="Outfit af pigerne" />
    </div>

    <div class="grid-item_image">
      <img src="/gallery/doing.webp" alt="costumimg1" />
    </div>
    <div class="grid-item text">
      <h2 class="howitworks">How it works</h2>
      <ol>
        <li>Put together your style: You choose the product's design, colors, and any details such as patterns, materials, or personal additions (e.g., initials or special symbols).</li>
        <li>How to order: When you have designed your product, you put it in the basket and complete your order.</li>
        <li>Production time: As your product is custom-made, it takes up to 2 weeks to produce from the moment we receive your order. We make sure to keep you updated so you always know how far we are in the process.</li>
      </ol>
    </div>

    <div class="grid_faq">
      <h2 class="questions">Frequently Asked Questions</h2>

      <button class="accordion">How does the process for custom-designed products work?</button>
      <div class="panel">
        <p>The process starts with you selecting the design, colors, and details for your product. Once you place your order, we begin production, which takes up to 2 weeks. We keep you updated throughout the process.</p>
      </div>

      <button class="accordion">Can I customize my product with personal details?</button>
      <div class="panel">
        <p>Yes, we offer the option to add personal details such as initials, symbols, or other unique customizations to make your product truly special.</p>
      </div>

      <button class="accordion">How long does it take to produce my product?</button>
      <div class="panel">
        <p>Since all our products are handmade and custom-made, production typically takes up to 2 weeks. We ensure to keep you informed about the progress during this time.</p>
      </div>

      <button class="accordion">Can I return a custom-made product?</button>
      <div class="panel">
        <p>As the products are custom-made to your specifications, we unfortunately do not offer returns. However, if there is an issue with the product, you can contact us, and we will find a solution.</p>
      </div>

      <button class="accordion">What payment methods do you accept?</button>
      <div class="panel">
        <p>We accept most major credit cards as well as MobilePay and international payment methods. Payments are secure and easy.</p>
      </div>
    </div>

    <div class="grid-item_image">
      <img src="/gallery/patches.webp" alt="costumimg1" />
    </div>
  </div>
</MainLayout>

<style>
  .grid-item.text h1 {
    text-align: left;
    margin: 0;
    padding: 30px;
  }

  .grid-item.text p {
    margin: 0;
    padding: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 40px auto;
    max-width: 1200px;
  }

  .howitworks,
  .questions {
    font-weight: bold;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .grid-item_image img {
    width: 100%;
    max-width: 100vw;
    height: auto;
    object-fit: cover;
    padding: 20px;
  }

  h1 {
    text-align: center;
  }

  h2,
  p {
    padding: 20px;
  }

  .accordion {
    background-color: #f0edee;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    border: none;
    transition: 0.4s;
    font-weight: bold;
  }

  .active,
  .accordion:hover {
    background-color: #780116;
    color: white;
  }

  .accordion:after {
    content: "\02795"; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  ol {
    margin-top: 10px;
    padding-left: 20px; /* Indrykning for listen */
    list-style-position: inside; /* Nummerering indenfor teksten */
  }

  ol li {
    margin-bottom: 30px; /* Afstand mellem punkter */
  }

  ol li strong {
    font-weight: bold;
  }

  @media (min-width: 769px) {
    .grid-item.text {
      justify-content: flex-start;
      padding-top: 20px;
    }

    .costumh1 {
      margin: 70px;
      white-space: nowrap; /* Forhindrer tekst i at bryde linjer */
      overflow: hidden; /* Skjuler overskydende tekst, hvis den er for lang */
    }
  }

  @media (max-width: 769px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
    .costumeh1 {
      font-family: "Courier New";
      font-size: 100px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
</style>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
</script>
