---
import "../styles/global.css";
import MainLayout from "../layouts/MainLayout.astro";
const title = "Custom made";
---

<MainLayout>
  <div class="grid-container">
    <div class="grid-item text">
      <h1 class="costumh1">CUSTOM MADE</h1>
      <p>At Solrig Design, everything is about you and your unique style. We offer custom-made designs that are created exactly according to your wishes. Whether you dream of a lively color palette, a certain style, or a detail that makes the product really special, we can make it come true.</p>
    </div>

    <div class="grid-item_image">
      <img src="/gallery/maerke.webp" alt="Outfit af pigerne" />
    </div>

    <div class="grid-item_image">
      <img src="/gallery/doing.webp" alt="costumimg1" />
    </div>
    <div class="grid-item text">
      <h2 class="howitworks">How it works</h2>
      <ol>
        <li>Put together your style: You choose the product's design, colors, and any details such as patterns, materials, or personal additions (e.g., initials or special symbols).</li>
        <li>How to order: When you have designed your product, you put it in the basket and complete your order.</li>
        <li>Production time: As your product is custom-made, it takes up to 2 weeks to produce from the moment we receive your order. We make sure to keep you updated so you always know how far we are in the process.</li>
      </ol>
    </div>

    <div class="grid_faq">
      <h2 class="questions">Ofte Stillede Spørgsmål</h2>

      <button class="accordion">Hvordan fungerer processen for specialdesignede produkter?</button>
      <div class="panel">
        <p>Processen starter med, at du vælger design, farver og detaljer for dit produkt. Når du har lagt din ordre, begynder vi produktionen, som tager op til 2 uger. Vi holder dig opdateret hele vejen.</p>
      </div>

      <button class="accordion">Kan jeg få mit produkt tilpasset med personlige detaljer?</button>
      <div class="panel">
        <p>Ja, vi tilbyder muligheden for at tilføje personlige detaljer som initialer, symboler eller andre unikke tilpasninger, der gør dit produkt helt specielt.</p>
      </div>

      <button class="accordion">Hvor lang tid tager det at producere mit produkt?</button>
      <div class="panel">
        <p>Da alle vores produkter er håndlavede og specialfremstillede, tager produktionen typisk op til 2 uger. Vi sørger for at informere dig om status undervejs.</p>
      </div>

      <button class="accordion">Kan jeg returnere et speciallavet produkt?</button>
      <div class="panel">
        <p>Da produkterne er speciallavede efter dine ønsker, tilbyder vi desværre ikke returret. Hvis der er fejl i produktet, kan du dog kontakte os, så vi kan finde en løsning.</p>
      </div>

      <button class="accordion">Hvilke betalingsmetoder accepterer I?</button>
      <div class="panel">
        <p>Vi accepterer de fleste større betalingskort samt MobilePay og internationale betalingsmetoder. Betalingen er sikker og nem.</p>
      </div>
    </div>
    <div class="grid-item_image">
      <img src="/gallery/patches.webp" alt="costumimg1" />
    </div>
  </div>
</MainLayout>

<style>
  .grid-item.text h1 {
    text-align: left;
    margin: 0;
    padding: 30px;
  }

  .grid-item.text p {
    margin: 0;
    padding: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 40px auto;
    max-width: 1200px;
  }

  .howitworks,
  .questions {
    font-weight: bold;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .grid-item_image img {
    width: 100%;
    max-width: 100vw;
    height: auto;
    object-fit: cover;
    padding: 20px;
  }

  h1 {
    text-align: center;
  }

  h2,
  p {
    padding: 20px;
  }

  .accordion {
    background-color: #f0edee;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    border: none;
    transition: 0.4s;
    font-weight: bold;
  }

  .active,
  .accordion:hover {
    background-color: #780116;
    color: white;
  }

  .accordion:after {
    content: "\02795"; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  ol {
    margin-top: 10px;
    padding-left: 20px; /* Indrykning for listen */
    list-style-position: inside; /* Nummerering indenfor teksten */
  }

  ol li {
    margin-bottom: 30px; /* Afstand mellem punkter */
  }

  ol li strong {
    font-weight: bold;
  }

  @media (min-width: 1000px) {
    .grid-item.text {
      justify-content: flex-start;
      padding-top: 20px;
    }

    .costumh1 {
      margin: 70px;
      white-space: nowrap; /* Forhindrer tekst i at bryde linjer */
      overflow: hidden; /* Skjuler overskydende tekst, hvis den er for lang */
    }
  }

  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
    .costumeh1 {
      font-family: "Courier New";
      font-size: 100px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
</style>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
</script>
