---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
import Carousel from "../components/Carousel.astro";

const products = [
  { title: "RIMINI BLAZER SKIRT 01", price: "595,00 kr.", image: "./gallery/ss_8.webp" },
  { title: "WORK BAG 02", price: "995,00 kr.", image: "./gallery/work-bag_9.webp" },
  { title: "SS TOP 03", price: "395,00 kr.", image: "./gallery/ss_8.webp" },
];
---

<MainLayout>
  <Hero />


  <div class="grid1_1">
    <div class="left-column">
      <h1>OUR CONCEPT</h1>
      <p>All Solrig's designs are created with consideration and sustainability in focus. Pass on this thoughtfulness with carefully selected gifts for both the home and the wardrobe. Explore our gift shop and find inspiration for thoughtful choices.</p>
    </div>
    

    <div class="right-column">
      <Carousel products={products} />
    </div>
  </div>

  <h2 class="citat">“We give discarded clothes new life”</h2>
  <img class="langtBillede" src="./gallery/langt_billede.webp" alt="LangtBillede" />
</MainLayout>

<style>
  .citat {
    margin-top: 100px;
    text-align: center;
  }

  .langtBillede {
    margin-top: 100px;
    max-width: 100%;
    height: auto;
  }

  .grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 50px; 
    align-items: start; 
    margin-top: 50px;
  }


  .left-column {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: left; 
    padding: 70px; 
    text-align: left; 
    height: 100%;
  }


  .left-column h1 {
    margin-bottom: 45px; 
    text-align: center;
  }

  .left-column p {
    margin-top: 0;
    margin-bottom: 30px; 
  }

  .right-column {
    max-width: 750px; 
    margin-left: auto; 
  }

  .right-column .carousel {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
  }


  .carousel img {
    width: 150%;
    height: auto;
    object-fit: cover; 
  }

  @media screen and (max-width: 700px) { 
    .left-column {
      padding: 0px;
    }
    .left-column p {
      font-size: 15px;
      margin-top: -10px;
      width: 440px;
    }
    .left-column h1 {
      margin-top: -10px;
      text-align: left;
    }

    .carousel {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
  }

  .right-column {
    max-width: 750px; 
    margin-left: auto; 
  }

  .grid1_1 {
    grid-template-columns: 1fr; 
    gap: 50px; 
    align-items: start; 
   
  }

  


  }

  
</style>
