---

---

<footer class="footer">
  <div class="footer-social">
    <a href="https://www.facebook.com/profile.php?id=100090422108136" class="social-icon" target="_blank" rel="noopener noreferrer">
      <img src="/gallery/facebook.webp" alt="Facebook" />
    </a>
    <a href="https://www.tiktok.com/@solrigkbh" class="social-icon" target="_blank" rel="noopener noreferrer">
      <img src="/gallery/tiktok.webp" alt="TikTok" />
    </a>
    <a href="https://www.instagram.com/solrigkbh" class="social-icon" target="_blank" rel="noopener noreferrer">
      <img src="/gallery/insta.webp" alt="Instagram" />
    </a>
  </div>
  <div class="footer-links">
    <a href="/about">About Solrig</a>
    <a href="#">Terms and conditions</a>
    <a href="#">Contact</a>
  </div>
  <div class="footer-copyright">© 2024 solrig. Powered by solrig.</div>
</footer>

<style>
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    color: #000;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  /* Sociale ikoner styling */
  .footer-social {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .footer-social .social-icon img {
    width: 50px;
    height: 50px;
    padding: 5px;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    gap: 25px;
  }
  .footer-links a {
    text-decoration: none;
    color: inherit;
    font-size: 15px;
  }

  @media (max-width: 769px) {
    .footer-links a,
    .footer-copyright {
      text-decoration: none;
      color: inherit;
      font-size: 12px;
    }
  }
</style>
