---

---

<footer>
  <div class="footer-container">
    <nav class="footer-nav">
      <a href="/om">Om Solrig</a>
      <a href="/shop">Shop</a>
      <a href="/handelsbetingelser">Handelsbetingelser</a>
      <a href="/kontakt">Kontakt</a>
    </nav>
    <div class="footer-socials">
      <a href="https://dk.pinterest.com/solrigbyhc/">
        <img src="./gallery/pinterest-logo.webp" alt="Pinterest" />
      </a>
      <a href="https://www.instagram.com/solrigkbh/">
        <img src="./gallery/instagram.webp" alt="Instagram" />
      </a>
    </div>
    <div class="footer-credits">
      <p>© 2024 solrig. Powered by solrig.</p>
    </div>
  </div>
</footer>

<style>
  footer {
    border-top: 1px solid #000; /* Den øverste linje */
    padding: 20px 0;
  }

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .footer-nav {
    display: flex;
    gap: 20px;
    font-size: 16px;
  }

  .footer-nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }

  .footer-nav a:hover {
    text-decoration: none;
    color: #780116;
  }

  .footer-socials {
    display: flex;
    gap: 10px;
  }

  .footer-socials a img {
    width: 24px;
    height: 24px;
  }

  .footer-credits {
    color: #555;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 20px;
  }
</style>
