<div class="hero">
  <div class="grid1-tekst">
    <!-- Shop Knap -->
    <h1 class="overskrift1"> Slowfashion</h1>
  <p class="underoverskrift1">“We give discarded clothes new life”</p>
    <div class="button-container">
      <a href="/list" class="shop-button">SHOP NOW</a>
    </div>
  </div>
  <img src="./gallery/solrig1122.png" alt="heroBillede" class="hero-image" />
</div>

<style>
  .hero {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .hero-image {
    display: block;
    width: 100%;
    height: auto;
  }

  .shop-button:hover {
    background-color: #4d0000;
    transform: scale(1.05);
  }

  .shop-button:active {
    transform: scale(0.95);
    background-color: #4d0000;
  }

  /* @media screen and (max-width: 600px) { */
    .overskrift1 {
    padding: 1x;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -5px;
    margin-top: 160px;
  }
  .underoverskrift1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 10px;
  }

  .shop-button {
    background-color: #4d0000;
    color: #fff;
    font-weight: bold;
    font-size: 8px;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:
      transform 0.2s,
      background-color 0.2s;
    text-decoration: none;
  }

 .button-container {
    margin-top: 20px;

  }
  .grid1-tekst {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  /* } */

  /* @media screen and (min-width: 600px) {
  .overskrift1 {
    padding: 10x;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -5px;
    margin-top: 70px;
  }
  .underoverskrift {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .grid1-tekst {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }

  .button-container {
    margin-top: 50px;
  }

  .shop-button {
    background-color: #4d0000;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:
      transform 0.2s,
      background-color 0.2s;
    text-decoration: none;
  }
} */
</style>
