---

---

<div class="hero">
  <div class="grid1-tekst">
    <!-- Shop Knap -->
    <h1 class="overskrift1">Slowfashion</h1>
    <p class="underoverskrift1">“We give discarded clothes new life”</p>
    <div class="button-container">
      <a href="/list" class="shop-button">SHOP NOW</a>
    </div>
  </div>
  <img src="./gallery/hero.webp" alt="heroBillede" class="hero-image" />
</div>

<style>
  .hero {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .hero-image {
    display: block;
    width: 100%;
    height: auto;
  }

  .grid1-tekst {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }

  .overskrift1 {
    font-size: 80px;
    font-weight: 700;
    margin: 0 0 10px;
  }

  .underoverskrift1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .shop-button {
    display: inline-block;
    background-color: #4d0000;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition:
      transform 0.2s,
      background-color 0.2s;
  }

  .shop-button:hover {
    background-color: #8b0000;
    transform: scale(1.05);
  }

  .shop-button:active {
    transform: scale(0.95);
  }

  /* Mobilvisning */
  @media screen and (max-width: 600px) {
    .grid1-tekst {
      top: 55%; /* Juster lodret placering på mobil */
    }

    .overskrift1 {
      font-size: 40px; /* Mindre overskrift */
    }

    .underoverskrift1 {
      font-size: 12px; /* Mindre citattekst */
    }

    .shop-button {
      font-size: 14px; /* Mindre knaptekst */
      padding: 8px 15px; /* Mindre knapstørrelse */
    }
  }
</style>
