---
import BurgerMenu from "./BurgerMenu.astro";
---

<nav>
  <BurgerMenu />
  <img src="./gallery/solrig_logo.webp" alt="logo" />
  <img src="./gallery/heart.webp" alt="Heart" />
  <img src="./gallery/cart.webp" alt="cart" />
</nav>

<style></style>
