---
import BurgerMenu from "./BurgerMenu.astro";
---

<nav>
  <!-- BurgerMenu -->
  <BurgerMenu />

  <!-- Logo -->
  <a href="/" class="logo-container">
    <img class="logo" src="/gallery/solrig_logo.webp" alt="logo" />
  </a>

  <!-- Ikoner -->
  <div class="ikoner">
    <img class="heart" src="/gallery/heart.webp" alt="Heart" />
    <img class="cart" src="/gallery/cart.webp" alt="Cart" />
  </div>
</nav>

<!-- Linje menu -->
<div class="linje_menu">
  <div class="dropdown">
    <a href="/list">SHOP</a>
    <div class="dropdown-content">
      <a href="/rimini">RIMINI</a>
      <a href="/businessCasual">CASUAL BUSINESS</a>
      <a href="/takeCare">TAKE CARE</a>
    </div>
  </div>
  <a href="/costum">COSTUM MADE</a>
  <a href="/about">ABOUT SOLRIG</a>
</div>

<style>
  /* Navigation styling */
  nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Tre kolonner: venstre, center (logo), højre */
    align-items: center; /* Centrer indhold lodret */
    padding: 0 20px; /* Polstring */
    border-bottom: 0.5px solid black; /* Tilføj en streg */
  }

  .dropdown {
    position: relative;
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #f9f9f9;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Logo styling */
  .logo-container {
    display: block;
    grid-column: 2; /* Placer logo-container i midten */
    justify-self: center; /* Centrer logo-container vandret */
  }

  .logo {
    max-width: 150px; /* Begræns logoets bredde */
    height: auto;
  }

  /* Ikoner styling */
  .ikoner {
    display: flex;
    gap: 20px;
    grid-column: 3; /* Placer ikoner i højre kolonne */
    justify-self: end; /* Justér til højre */
  }

  .heart,
  .cart {
    max-width: 24px;
    height: auto;
  }

  /* Linje menu styling */
  .linje_menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid black; /* Tilføj en streg */
  }

  .linje_menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  @media (max-width: 768px) {
    .linje_menu {
      display: none !important; /* Skjul linje menuen */
    }
  }
</style>
