---
import BurgerMenu from "./BurgerMenu.astro";
---

<nav>
  <BurgerMenu />
  <a href="/">
    <img class="logo" src="./gallery/solrig_logo.webp" alt="logo" />
  </a>
  <div class="ikoner">
    <img class="heart" src="./gallery/heart.webp" alt="Heart" />
    <img class="cart" src="./gallery/cart.webp" alt="Cart" />
  </div>
</nav>

<style>
  nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Ens afstand på hver side af logoet */
    align-items: center;
    padding: 0 20px;
  }

  .logo {
    grid-column: 2; /* Placer logoet i den midterste kolonne */
    justify-self: center; /* Sørg for, at logoet er centreret i kolonnen */
    max-width: 150px;
    height: auto;
  }

  .ikoner {
    display: flex;
    gap: 40px;
    grid-column: 3; /* Placer ikoner i den sidste kolonne */
    justify-self: end; /* Justér ikoner til højre */
  }

  .heart,
  .cart {
    max-width: 24px;
    height: auto;
  }
</style>
