---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Buy from "../components/Buy.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Merriweather:wght@400;700&display=swap" rel="stylesheet" />
    <title>Home</title>
  </head>
  <body>
    <Buy />
    <Footer />
  </body>
</html>
